#container {
  display: flex;
  flex-direction: row;
  width: 450px;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  border-radius: 25px;
  background-color: #e63946;
  margin-bottom: 20px;
  transition: 0.3s;
}

#container:hover {
  background-color: #f57782;
  transform: scale(1.1);
}

#photo {
  object-fit: cover;
  width: 150px;
  border: solid 3px #f1faee;
  border-radius: 50%;
}

.contact-info {
  padding-bottom: 15px;
}

#name {
  font-size: larger;
  font-weight: 600;
}

#email {
  font-style: oblique;
}
