@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  color: #F1FAEE;
  background: #1D3557;
}
